
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


:root {
    --primary: #8B5CF6
    --gray: #F3F4F6
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

.text-sm {
    font-size: 0.8rem;
}

.container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}